.clearfix,
#wrap,
#wrap2 {
  *zoom: 1;
}
.clearfix:after,
#wrap:after,
#wrap2:after {
  content: "";
  display: block;
  clear: both;
}
#wrap {
  border: 5px solid;
  background: pink;
}
#wrap #inner {
  float: left;
  width: 100px;
  height: 100px;
  background: gray;
}
