<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="test">
        <input type="text" placeholder="请输入一些内容" v-model="text">
        <button v-on:click="handleClick">add</button>
        <ul>
            <li v-for="todo in todoList">
                {{todo}}
            </li>
        </ul>
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#test",
        data:{
            text:"",
            todoList:["吃饭","睡觉","玩天禹"]
        },
        methods:{
            handleClick(){
                this.todoList.push(this.text);
                this.text = ""
            }
        }
    })
</script>
</html>