<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in list" :key="index" >
                {{item}}
            </li>
        </ul>

        <ul>
            <li v-for="(val,key,index) in obj" :key="index">
                {{key}}:{{val}}
            </li>
        </ul>
    </div>
</body>
<script src="./js/vue.min.js"></script>
<script>
    Vue.config.productionTip=false;
    new Vue({
        el:"#app",
        data:{
            list:["吃饭","睡觉","玩天禹"],
            obj:{
                name:"damu",
                age:18,
                wife:"冬雨"
            }
        }
    })
</script>
</html>
